/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-sep-2018, 2:26:45
    Author     : andra
*/

body{
  background:#90D0FF;
}

h1{
  font-family:Arial, "Trebuchet MS", Helvetica, sans-serif;
  font-size:32px;
  color:#000080;
}

p{
  font-family:Arial, "Trebuchet MS", Helvetica, sans-serif;
  font-size:18px;
  color:#0040C0;
}

.centrar{
    text-align: center;
}

button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #008CBA;
}
